<IntermediateContractDefinition MediatorNode="configuration" MediatorNodeType="root">
  <SemanticClusters>
    <SemanticCluster MediatorNode="element1" MediatorNodeType="element"/>
    <SemanticCluster MediatorNode="element2" MediatorNodeType="element"/>
    <SemanticCluster SemanticKey="SemanticKey1" MediatorNode="element1.1" MediatorNodeType="array" MediatorNodeParent="element1">
      <SemanticClusters>
        <SemanticCluster SemanticKey="SemanticKey2" MediatorNode="element3" MediatorNodeType="element">
          <SemanticNodes>
            <SemanticNode SemanticKey="SemanticKey3" MediatorNode="attribute1" MediatorNodeType="attribute"/>
            <SemanticNode SemanticKey="SemanticKey4" MediatorNode="attribute2" MediatorNodeType="attribute"/>
            <SemanticNode SemanticKey="SemanticKey5" MediatorNode="element6" MediatorNodeType="array">
              <SemanticNodes>
                <SemanticNode MediatorNode="variant" MediatorNodeType="element">
                  <SemanticNodes>
                    <SemanticNode SemanticKey="SemanticKey6" MediatorNode="attribute1" MediatorNodeType="attribute"/>
                    <SemanticNode SemanticKey="SemanticKey7" MediatorNode="attribute1" MediatorNodeType="attribute"/>
                  </SemanticNodes>
                </SemanticNode>
              </SemanticNodes>
            </SemanticNode>
          </SemanticNodes>
        </SemanticCluster>
      </SemanticClusters>
    </SemanticCluster>
  </SemanticClusters>
</IntermediateContractDefinition>
